<section ng-controller="HomeController">
<div id="homepage">
	<div class="video_header">
		<video id="video_homepage_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="//i.actionably.com/v/17A065_194.jpg" muted="" src="//i.actionably.com/v/D40_21_009_comp.mp4">
		<source src="//i.actionably.com/v/D40_21_009_comp.mp4" type="video/mp4">
		</video>
		<div class="video_overlay"></div>
		<div class="video_header_text text-center">
			<div class="row">
				<div class="col-md-3 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
					<img alt="Actionably" class="img-responsive text-center animated fadeIn" src="modules/core/img/brand/actionably-logotype-500w.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 class="lead">
						Looking to hire great people? You probably already know them.
						<br />
						Find job candidates using your own social network.
					</h2>

					<div class="row" ng-hide="authentication.user">
						<div class="col-md-12">
							<p>
								<a class="btn btn-primary btn-lg" href="/#!/signup">Sign Up Now</a>
							</p>
							<p>
								Already have an account? <a href="/#!/signin">Sign In</a>.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row" ng-show="authentication.user">
			<div class="col-md-12">				
				<br />
				<p>Welcome back, <span ng-bind="authentication.user.displayName"></span>.</p>
				<p>Here's what you can do here:
					<ul>
						<li><a href="#!/listings">Listings</a></li>
						<li><a href="#!/companies">Companies</a></li>
					</ul>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Want more information? Are you hiring now?</h2>
				<em>Sign up for our mailing list and stay informed about our latest developments.</em>

				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
				<form action="//actionably.us10.list-manage.com/subscribe/post?u=e79d2bd810dbb7fd00d90ee5b&amp;id=7f9142c5be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address
				</label>
					<input type="email" value="" name="EMAIL" class="required email" placeholder="Your Email Address" id="mce-EMAIL">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e79d2bd810dbb7fd00d90ee5b_7f9142c5be" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
			</div>
		</div>
</div>
</section>
