//$brand-primary: #967ADC;
//$brand-success: #A0D468;
//.sample { background: $brand-success; }
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400italic,400,700);

// setting the fonts
$font-family-sans-serif:  Verdana, 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       'Merriweather', Georgia, "Times New Roman", Times, serif !default;
$font-family-base:        $font-family-sans-serif !default;
$headings-font-family: 	  $font-family-serif !default;
$headings-font-weight:    700 !default;

@import "../public/lib/font-awesome/scss/font-awesome.scss";
@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";

.nice-show-hide {
}

.nice-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.nice-show-hide.ng-hide {
  opacity:0;
}

//pages
@import "pages/home";

