<section ng-controller="ReferralsController" ng-init="findOne()">
    <div class="page-header">
        <h1>Refer someone for: <a href="/#!/listings/{{ referral.listing._id }}">{{ referral.listing.headline }}</a></h1>
        <h3>
            From: {{ referral.firstName }} {{ referral.lastName }} &lt;{{ referral.email }}&gt;
            (<a ng-click="isParentFormOpen = !isParentFormOpen">Not you?</a>)
        </h3>
    </div>
    <div class="pull-right" ng-show="authentication.user._id == referral.user._id">
        <a class="btn btn-primary" href="/#!/referrals/{{referral._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>


    <div class="col-md-12">
        <form class="form-horizontal" ng-submit="create()" novalidate>
            <fieldset>
                <div class="nice-show-hide" ng-show="isParentFormOpen" id="parentForm">
                    <div class="form-group">
                        <label class="control-label" for="fromEmail">Your Email Address</label>
                        <div class="controls">
                            <input type="text" data-ng-model="fromEmail" id="fromEmail" class="form-control" placeholder="Your Email Address" required>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label" for="fromFirstName">Your First Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="fromFirstName" id="fromFirstName" class="form-control" placeholder="Your First Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fromLastName">Your Last Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="fromLastName" id="fromLastName" class="form-control" placeholder="Your Last Name" required>
                        </div>
                    </div>           
                </div>                    
                <div class="form-group">
                    <label class="control-label" for="email">Email Address</label>
                    <div class="controls">
                        <input type="text" ng-model="email" id="email" class="form-control" placeholder="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" ng-model="firstName" id="firstName" class="form-control" placeholder="firstName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" ng-model="lastName" id="lastName" class="form-control" placeholder="lastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="customMessage">Message</label>
                    <div class="controls">
                        <input type="text" ng-model="customMessage" id="customMessage" class="form-control" placeholder="customMessage" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>

</section>
