<section ng-controller="ReferralsController" ng-init="findOne()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <img width="140" alt="referral.listing.company.name" class="pull-right img-rounded" ng-src="{{ referral.listing.company.imageUrl }}" />
                <h1 ng-bind="referral.listing.headline"></h1>
                <h2 ng-bind="referral.listing.company.name"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <p>
                <a href="/#!/referrals/create/{{referral._id}}"><button class="btn btn-primary"><i class="glyphicon glyphicon-forward"></i> Refer Someone</button></a>
                <a href="/#!/listings/{{referral.listing._id}}/apply{{ referral._id ? '/' + referral._id : '' }}">
                    <button class="btn btn-success"><i class="glyphicon glyphicon-check"></i> Apply to this Job</button>
                </a>
            </p>    
            </div>
        </div>      
    </div>
    <div>
        <p>
            Role: {{ referral.listing.role }}<br />
            Location {{ referral.listing.location }}</br>
            Fee: ${{ referral.listing.referralFee }}
        <p>

        <h3>Description</h3>
        <p ng-bind-html="referral.listing.description"></p>

        <h3>Tags</h3>
        <p ng-bind="referral.listing.tags"></p>

        <p ng-if="referral._id">Parent Referral Id: <b>{{ referral._id }}</b></p>

        <p>
            <a href="/#!/referrals/create/{{referral._id}}"><button class="btn btn-primary"><i class="glyphicon glyphicon-forward"></i> Refer Someone</button></a>
            <a href="/#!/listings/{{referral.listing._id}}/apply{{ referral._id ? '/' + referral._id : '' }}">
                <button class="btn btn-success"><i class="glyphicon glyphicon-check"></i> Apply to this Job</button>
            </a>
        </p>
    </div>
    <div class="pull-right" ng-show="authentication.user._id == referral.listing.user._id">
        <a class="btn btn-primary" href="/#!/listings/{{referral.listing._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span ng-bind="referral.listing.created | date:'mediumDate'"></span>
            by
            <span ng-bind="referral.listing.user.displayName"></span>
        </em>
    </small>
</section>
