<header ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
<section class="content container" ng-controller="SubmissionsController" ng-init="find()">
    <div class="page-header">
        <h1>Submissions</h1>
    </div>
    <div class="list-group">
        <a ng-repeat="submission in submissions" ng-href="#!/submissions/{{submission._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span ng-bind="submission.created | date:'medium'"></span>
				by
				<span ng-bind="submission.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" ng-bind="submission.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-hide="!submissions.$resolved || submissions.length">
    	No Submissions yet, why don't you <a href="/#!/submissions/create">create one</a>?
    </div>
</section>
