<section ng-controller="SubmissionsController" ng-init="findOne()">
	<div class="page-header">
		<h1>{{submission.firstName}} {{submission.lastName}}</h1>
        {{submission.email}}
	</div>
    <div ng-show="submission.linkedInUrl">
        <a href="{{submission.linkedInUrl}}" target="_blank">Profile on LinkedIn</a>
    </div>
    <div ng-show="submission.uploadedResumeUrl">
        <a href="{{submission.uploadedResumeUrl}}">Download Resume</a>
    </div>

    <small>
		<em class="text-muted">
			Posted on
			<span ng-bind="submission.createdAt | date:'mediumDate'"></span>
			by
			<span ng-bind="submission.user.displayName"></span>
		</em>
	</small>
</section>
