div#homepage{
	.jumbotron {
		padding: 10px;
		background: url('http://uploads.strikinglycdn.com/static/backgrounds/striking-pack-1/26.jpg');
		background-size: cover;
		background-position: 49%;
		background-repeat: no-repeat;
	}
}
