<header ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
<section class="content container" ng-controller="ListingsController" ng-init="find()">
    <div class="page-header">
        <h1>Listings</h1>
    </div>
    <div class="list-group">
        <a ng-repeat="listing in listings" ng-href="#!/listings/{{listing._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span ng-bind="listing.created | date:'medium'"></span>
				by
				<span ng-bind="listing.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" ng-bind="listing.headline"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-hide="!listings.$resolved || listings.length">
    	No Listings yet, why don't you <a href="/#!/listings/create">create one</a>?
    </div>
</section>
