<section class="container" ng-controller="ListingsController" ng-init="findOne()">
	<div class="page-header">
		<div class="row">
			<div class="col col-md-12">
				<h1>Stats for <a href="#!/listings/{{ listing._id }}">{{ listing.headline }}</a></h1>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="col col-md-12">
				<h3>Referrals</h3>
				<table class="table table-striped table-bordered">
					<tr>
						<th>Referrer</th>
						<th>Viewed</th>
						<th>Clicks</th>
						<th>Forwards</th>
						<th>Submissions</th>
					</tr>
					<tr ng-repeat="referral in listing.referrals">
						<td>{{ referral.firstName }} {{ referral.lastName }} &lt;{{ referral.email }}&gt;</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>