<section data-ng-controller="ListingsController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="row">
			<div class="col-md-12">
				<img width="140" alt="listing.company.name" class="pull-right img-rounded" ng-src="{{ listing.company.imageUrl }}" />
				<h1 data-ng-bind="listing.headline"></h1>
				<h2 data-ng-bind="listing.company.name"></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
	        <p>
	            <button ng-click="create_referral();" class="btn btn-primary"><i class="glyphicon glyphicon-forward"></i> Refer Someone</button>
	            <a href="/#!/listings/{{listing._id}}/apply{{ referral._id ? '/' + referral._id : '' }}">
	                <button class="btn btn-success"><i class="glyphicon glyphicon-check"></i> Apply to this Job</button>
	            </a>
	        </p>	
	    	</div>
	    </div>		
	</div>
	<div>
		<p>
			Role: {{ listing.role }}<br />
			Location {{ listing.location }}</br>
			Fee: ${{ listing.referralFee }}
		<p>

		<h3>Description</h3>
		<p data-ng-bind-html="listing.description"></p>

		<h3>Tags</h3>
		<p data-ng-bind="listing.tags"></p>

		<p ng-if="referral._id">Parent Referral Id: <b>{{ referral._id }}</b></p>

        <p>
            <a href="/#!/referrals/create/{{listing._id}}{{ referral._id ? '/' + referral._id : '' }}"><button class="btn btn-primary"><i class="glyphicon glyphicon-forward"></i> Refer Someone</button></a>
            <a href="/#!/listings/{{listing._id}}/apply{{ referral._id ? '/' + referral._id : '' }}">
                <button class="btn btn-success"><i class="glyphicon glyphicon-check"></i> Apply to this Job</button>
            </a>
        </p>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == listing.user._id">
		<a class="btn btn-primary" href="/#!/listings/{{listing._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="listing.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="listing.user.displayName"></span>
		</em>
	</small>
</section>
