<section ng-controller="CompaniesController" ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Company</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" ng-model="company.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" ng-model="company.description" id="name" class="form-control" placeholder="Description" required>
                    </div>
                </div>         
                <div class="form-group">
                    <label class="control-label" for="url">Url</label>
                    <div class="controls">
                        <input type="text" ng-model="company.url" id="name" class="form-control" placeholder="Url" required>
                    </div>
                </div>       
                <div class="form-group">
                    <label class="control-label" for="imageUrl">Image Url</label>
                    <div class="controls">
                        <input type="text" ng-model="company.imageUrl" id="name" class="form-control" placeholder="Image Url" required>
                    </div>
                </div>                                         
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div ng-show="error" class="text-danger">
					<strong ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
