<section class="container" ng-controller="CompaniesController" ng-init="findOne()">
	<div class="page-header">
		<h1 ng-bind="company.name"></h1>
		<p ng-bind="company.url"></p>
		<img src="{{company.imageUrl}}" />
		<p ng-bind="company.description"><p>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/companies/{{company._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span ng-bind="company.created | date:'mediumDate'"></span>
			by
			<span ng-bind="company.user.displayName"></span>
		</em>
	</small>
</section>
